<img src="<%= @chart %>">

<table>
  <th>
    <% @forecast.first.keys.each do |key|%>
      <td> <%= key %> </td>
    <% end %>
  </th>
  <% @forecast.each do |point| %>
    <tr>
      <% point.keys.each do |key| %>
        <td>
          <%= point[key]%>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
