<div class="container">
  <div class="row">
    <div class="col-sm-3 dashboard-navigation">

      <div>
        <h1>Login</h1>
      </div>

      <div class="body">
        <div>Email: <input ng-model="login_user.email" /></div>
        <div>Password: <input type="password" ng-model="login_user.password" /></div>

        <button ng-click="log_in_user(login_user)" class="btn btn-primary" >Login</button>
        <button ng-click="log_out_user()" class="btn btn-primary" >Logout</button>
      </div>
    </div>
  </div>
</div>

