<div class="container">
  <div class="row">
    <div class="col-lg-5">
      <div>
        <h1>New Flight Plan</h1>
      </div>

      <form novalidate class="simple-form">
        <div class="body">
          <div>Origin: <input ng-model="flight_plan.origin" /></div>
          <div>Destination: <input ng-model="flight_plan.destination" /></div>
          <div>Speed: <input ng-model="flight_plan.speed" /></div>
          <div>Forecast Interval: <input ng-model="flight_plan.interval" /></div>
          <!--
            Implemented on the models, just not in the UI
            <div>Departure Time: <input type='datetime-local' ng-model="flight_path.departure"/></div>
          -->

            <button ng-click="button=true; save()" class="btn btn-primary" ng-disabled="button" ng-init="button=true" >
              Forecast
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

