<h4> Your Flight Plan Forecast</h4>
<div id='summary'>
<ul>
  <li>
    <div id='origin'>Origin: {{ flight_plan.origin}} </div>
  </li>
  <li>
    <div id='destination'>Destination: {{ flight_plan.destination}} </div>
  </li>
  <li>
    <div id='speed'>Speed: {{ flight_plan.speed}} </div>
  </li>
  <li>
    <div id='interval'>Sampling Interval: {{ flight_plan.interval}} </div>
  </li>
</ul>
</div>

{{origin_marker}}

{{destination_marker}}

<div id='map'>
  <ui-gmap-google-map center="map.center" zoom="map.zoom">
  <ui-gmap-marker idkey="origin_marker.id" coords='origin_marker.coords'></ui-gmap-marker>
  <ui-gmap-marker idkey="destination_marker.id" coords='destination_marker.coords'></ui-gmap-marker>
    <ui-gmap-polyline path="path" static="true"></ui-gmap-polyline>
  </ui-gmap-google-map>
</div>

<div id='forecast-table'>
  <table>
    <tr>
      <td ng-repeat='row in table'>{{row.label}}</td>
    </tr>
    <tr ng-repeat='row in flight_plan.forecast'>
      <td>
        {{row.time}}
      </td>
      <td>
        {{row.latitude}}
      </td>
      <td>
        {{row.longitude}}
      </td>
      <td>
        {{row.summary}}
      </td>
      <td>
        {{row.precipIntensity}}
      </td>
      <td>
        {{row.precipProbability}}
      </td>
      <td>
        {{row.temperature}}
      </td>
      <td>
        {{row.apparentTemperature}}
      </td>
      <td>
        {{row.dewPoint}}
      </td>
      <td>
        {{row.humidity}}
      </td>
      <td>
        {{row.windSpeed}}
      </td>
      <td>
        {{row.windBearing}}
      </td>
    </tr>
  </table>
</div>
