<h4> Your Flight Plan Forecast</h4>
<ul>
  <li>
    <div id='origin'>Origin: {{ flight_plan.origin}} </div>
  </li>
  <li>
    <div id='destination'>Destination: {{ flight_plan.destination}} </div>
  </li>
  <li>
    <div id='speed'>Speed: {{ flight_plan.speed}} </div>
  </li>
  <li>
    <div id='interval'>Sampling Interval: {{ flight_plan.interval}} </div>
  </li>
</ul>

<img src="<%= @chart %>">

<% @labels = []; @forecast = []; %>
<table>
  <tr>
    <% @labels.each do |key, label|%>
      <td> <%= label %> </td>
  <% end %>
  </tr>

  <% @forecast.each do |point| %>
    <tr>
    <% @labels.keys.each do |key| %>
      <td>
      <%= point[key]%>
    </td>
  <% end %>
  </tr>
<% end %>
</table>
