---
http_interactions:
- request:
    method: get
    uri: https://maps.google.com/maps/api/geocode/json?address=Boise,%20Idaho,%20United%20States&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.5
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Boise",
                       "short_name" : "Boise",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Ada County",
                       "short_name" : "Ada County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Idaho",
                       "short_name" : "ID",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Boise, ID, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 43.6898951,
                          "lng" : -116.101909
                       },
                       "southwest" : {
                          "lat" : 43.511717,
                          "lng" : -116.3658869
                       }
                    },
                    "location" : {
                       "lat" : 43.6187102,
                       "lng" : -116.2146068
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 43.6898951,
                          "lng" : -116.101909
                       },
                       "southwest" : {
                          "lat" : 43.511717,
                          "lng" : -116.3658869
                       }
                    }
                 },
                 "place_id" : "ChIJnbRH6XLxrlQRm51nNpuYW5o",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sun, 12 Apr 2015 21:22:29 GMT
recorded_with: VCR 2.9.3
