general: &general
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: Valhalla-Vector-Visibility
  password: NoPasswordForYou

development:
  <<: *general
  database: Valhalla-Vector-Visibility_development

test:
  <<: *general
  database: Valhalla-Vector-Visibility_test

production:
  <<: *general
  database: Valhalla-Vector-Visibility_production
