---
http_interactions:
- request:
    method: get
    uri: https://api.forecast.io/forecast/236ff7fb93910a031342851919098db3/41.8781136,-87.6297982,1388559600
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Hostname:
      - empress
      X-Forecast-Api-Calls:
      - '368'
      Etag:
      - '"-552023754"'
      X-Response-Time:
      - 35ms
    body:
      encoding: UTF-8
      string: '{"latitude":41.8781136,"longitude":-87.6297982,"timezone":"America/Chicago","offset":-6,"currently":{"time":1388559600,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":17.72,"apparentTemperature":5.69,"dewPoint":13.14,"humidity":0.82,"windSpeed":10.53,"windBearing":12,"visibility":4.82,"pressure":1026.45},"hourly":{"summary":"Light
        snow (under 1 in.) starting in the morning, continuing until night.","icon":"snow","data":[{"time":1388556000,"summary":"Overcast","icon":"cloudy","precipIntensity":0,"precipProbability":0,"temperature":16.2,"apparentTemperature":3.68,"dewPoint":11.26,"humidity":0.8,"windSpeed":10.72,"windBearing":9,"visibility":5.39,"cloudCover":1,"pressure":1026.5},{"time":1388559600,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":17.72,"apparentTemperature":5.69,"dewPoint":13.14,"humidity":0.82,"windSpeed":10.53,"windBearing":12,"visibility":4.82,"pressure":1026.45},{"time":1388563200,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":19.15,"apparentTemperature":7.67,"dewPoint":14.18,"humidity":0.81,"windSpeed":10.21,"windBearing":20,"visibility[...]
