---
http_interactions:
- request:
    method: get
    uri: https://maps.google.com/maps/api/geocode/json?address=41.9786,%2087.9047&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.5
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Hoxud",
                       "short_name" : "Hoxud",
                       "types" : [ "sublocality_level_1", "sublocality", "political" ]
                    },
                    {
                       "long_name" : "Bayingol",
                       "short_name" : "Bayingol",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Xinjiang",
                       "short_name" : "Xinjiang",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "China",
                       "short_name" : "CN",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Hoxud, Bayingol, Xinjiang, China",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 42.8008224,
                          "lng" : 88.3551564
                       },
                       "southwest" : {
                          "lat" : 41.4259916,
                          "lng" : 86.616129
                       }
                    },
                    "location" : {
                       "lat" : 42.26837099999999,
                       "lng" : 86.863963
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 42.8008224,
                          "lng" : 88.3551564
                       },
                       "southwest" : {
                          "lat" : 41.4259916,
                          "lng" : 86.616129
                       }
                    }
                 },
                 "place_id" : "ChIJaz-cPH_LETgRc-RvFceYDfw",
                 "types" : [ "sublocality_level_1", "sublocality", "political" ]
              },
              {
                 "address_components" : [
                    {
                       "long_name" : "Bayingol",
                       "short_name" : "Bayingol",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Xinjiang",
                       "short_name" [...]
[...]
- request:
    method: get
    uri: https://maps.google.com/maps/api/geocode/json?address=41.9786,%20-87.9047&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.5
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_compone[...]
[...]
