---
http_interactions:
- request:
    method: get
    uri: https://maps.google.com/maps/api/geocode/json?address=43.5644,%20-116.2228&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.5
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "3201",
                       "short_name" : "3201",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Boise Airport",
                       "short_name" : "Boise Airport",
                       "types" : [ "establishment" ]
                    },
                    {
                       "long_name" : "Airport Way",
                       "short_name" : "Airport Way",
                       "types" : [ "route" ]
                    },
                    {
                       "long_nam[...]
