---
http_interactions:
- request:
    method: get
    uri: https://maps.google.com/maps/api/geocode/json?address=43.5644,%20116.2228&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.5
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "G207",
                       "short_name" : "G207",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Xilinhaote Shi",
                       "short_name" : "Xilinhaote Shi",
                       "types" : [ "sublocality_level_1", "sublocality", "political" ]
                    },
                    {
                       "long_name" : "Xilinguole Meng",
                       "short_name" : "Xilinguole Meng",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Neimenggu Zizhiqu",
                       "short_name" : "Neimenggu Zizhiqu",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "China",
                       "short_name" : "CN",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "G207, Xilinhaote Shi, Xilinguole Meng, Neimenggu Zizhiqu, China",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 43.5867358,
                          "lng" : 116.1496753
                       },
                       "southwest" : {
                          "lat" : 43.5326645,
                          "lng" : 116.1280731
                       }
                    },
                    "location" : {
                       "lat" : 43.5603701,
                       "lng" : 116.1360556
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 43.5867358,
                          "lng" : 116.1496753
                       },
                       "southwest" : {
                          "lat" : 43.5326645,
                          "lng" : 116.1280731
                       }
                    }
                 },
                 "place_id" : "ChIJv9rH1UpYBF4RLnMDJ3p6q0A",
                 "types" : [ "route" ]
              },
              {
                 "address_components" : [
                    {
                       "long_name" : "Xilinhot",
                       "short_name" : "Xilinhot",
                       "types" : [ "sublocality_level_1", "sublocality", "political" ]
                    },
                    {
                       "long_name" : "Xilin Gol",
                       "short_name" : "Xilin Gol",
[...]
[...]
