<nav class="navbar navbar-default" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <a class="navbar-brand" href="/">Flight Operation Weather Center</a>
    </div>

    <ul class="nav navbar-nav">
      <li><a ui-sref="flight_plans.index">Flight Plans</a></li>
      <li><a ui-sref="user_login">Login</a></li>
    </ul>

  </div>
</nav>
