---
http_interactions:
- request:
    method: get
    uri: https://maps.google.com/maps/api/geocode/json?address=41.9786,%20-87.9047&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.5
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Arrivals",
                       "short_name" : "Arrivals",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "O'Hare International Airport",
                       "short_name" : "O'Hare International Airport",
                       "types" : [ "establishment" ]
                    },
                    {
                       "long_name" : "O'Hare",
                       "short_name" : "O'Hare",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
[...]
