<!DOCTYPE html>
<html>
  <head>
    <title>Valhalla Vector Visibility</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>

    <%= csrf_meta_tags %>
    <base href="/">
  </head>
  <body ng-app="valhalla">
    <div ng-controller="MessagesController" id="alerts">
      <alert class="alert_box" ng-repeat="alert in alerts" type="alert.type" ng-click="close_alert($index)" close="close_alert($index)">{{alert.msg}}</alert>
    </div>

    <%= yield %>
  </body>
</html>
